@import "../../const/constVaule.scss";
footer {
  background-color: rgb(63, 236, 132);
  border-radius: 0.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  height: $footerHeight;
  width: 100%;
  overflow: hidden;
}
.cart-container {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  // position: relative;
  .cart-img {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
    background-image: url('../../assets/shopping-cart.png');
    position: relative;
    .red-dot {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      display: inline-block;
      text-align:center;
      font-size:0.8rem;
      color:#fff;
      background:red;
      position: absolute;
      top: -0.6rem;
      right: -0.6rem;
    }
  }

  .cart-total-price {
    display: flex;
    background-color: rgba(27, 252, 225, 0.76);
    border-radius: 0.5rem;
    flex: 1;
    color: red;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  .cart-do-order {
    border-radius: 0.5rem;
    flex: 1;
    background-color: rgb(22, 231, 187);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
