@mixin img-size($size) {
  background-size: $size;
  width: $size;
  height: $size;
}
@mixin active-img($size) {
  @include img-size($size);
  transition: transform 0.2s;
  &:active {
    @include img-size($size);
    transform: scale(1.3);
  }
  &:hover {
    // transform: scale(2);
  }
}
@mixin dish-text-flex-direction($direction) {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: $direction;
  justify-content: space-between;
  .dish-price {
    .price-text {
      color: red;
      // font-size: 1.1rem;
    }
  }
}
.dish {
  display: flex;
  padding: 0.4rem;
  border: 1px solid rgb(222, 221, 228);
  border-radius: 3px;
  align-items: space-between;
  margin: 0rem 0 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  .dish-img {
    // align-self: flex-start;
    margin: 0.2rem;
    transition: transform 1s;
    transform: rotate(360);
  }
  .dish-text-column {
    @include dish-text-flex-direction(column);
  }
  .dish-text-row {
    @include dish-text-flex-direction(row);
  }
  &:hover {
    box-shadow: 2px 2px 4px 4px rgb(119, 117, 114);
  }
  .dish-button {
    display: flex;
    .dish-button-add {
      background-image: url('../../assets/add.png');
      @include active-img(1.5rem);
    }
    .order-num {
      align-self: center;
      padding:  0 0.5rem;
    }
    .dish-button-minus {
      background-image: url('../../assets/minus.png');
      @include img-size(1.5rem);
    }
  }
};
@media only screen and (max-width: 700px) {
  .category-current {
    font-size: 1rem;
  }
  .category {
    font-size: 1rem;
  }
}
