@import "../../const/footerBarHeight.scss";
.category-container {
  display: flex;
  // hide the scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  .category {
    display: flex;
    padding: 0.5rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-color: rgba(208, 203, 209, 0.82);
    a {
      text-decoration: none;
      color: rgb(146, 152, 223);
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 700px) {
  .category-container {
    position: fixed;
    width: 3rem;
    overflow: auto;
    // height: 100%;
    // width: 100%;
    flex-direction: column;
    padding-bottom: $footerHeight;
    top: 0;
    bottom: 0;
    .category {
      // border-bottom: 1px;
      border-width: 0 0 1px 0;
      flex-shrink: 0;
    }
  }
}

@media (min-width: 700px) {
  .category-container {
    width: 100%;
    flex-direction: row;
    .category {
      border-width: 0 1px 0 0;
    }
  }
}
