.category-container {
  display: flex;
  // width: 100%;
  // justify-content: space-between;

  .category {
    display: flex;
    padding: 0.5rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    // border-width: thin;
    border-color: rgba(208, 203, 209, 0.82);
    a {
      text-decoration: none;
      color: rgb(146, 152, 223);
      font-size: 1.2rem;
    }
  }

}
@media (max-width: 700px) {
  .category-container {
    // height: 100%;
    // width: 100%;
    flex-direction: column;
    .category {
      // border-bottom: 1px;
      border-width: 0 0 1px 0;
    }
  }
}

@media (min-width: 700px) {
  .category-container {
    width: 100%;
    flex-direction: row;
    .category {
      border-width: 0 1px 0 0;
    }
  }
}
