.dish-list {
  .dish-category {
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    background-color: rgb(231, 235, 240);
    a {
      color: black;
      // text-decoration: none;
      text-decoration: none;
    }
  }
}
